/*=========== HEADER ============*/
header {
	height: 60px;
	background-color: steelblue;
	nav {
		ul {
			margin: 0 5% 0 0;
			padding: 0;
			float: right;
			li {
				display: inline-block;
				margin: 15px 0 0 0px;
				a {
					text-decoration: none;
					height: 30px;
					width: 80px;
					background-color: black;
					display: inline-block;
					text-align: center;
					line-height: 30px;
					font-size: 14px;
					&:hover {
						
					}
					&:active {
						
					}
					&:link {
						
					}
					&:visited {
						
					}
				}
			}
		}
	}
}


/*=========== CONTAINER ============*/
.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 5%;
}